
<h1>New Game</h1>
<ul>
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>

<h2>What is the longest word you can find?</h2>
<%= form_with(url: '/score', method: 'post', data: { turbo: false }) do |form| %>
  <div>
    <%= form.text_field :word, id: 'word-input' %>
  </div>
  <div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </div>
  <div>
    <%= form.submit 'Submit' %>
  </div>
<% end %>
